/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

caption, th, td {
	text-align: right;
}

/* Core and Addition
-------------------------------------------------------------- */
.alignnone,
#content .alignnone,
#content-full .alignnone,
div .alignnone {
	margin: 5px 0 20px 20px;
}

.alignleft,
#content .alignleft,
#content-full .alignleft,
div .alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}

.alignright,
#content .alignright,
#content-full .alignright,
div .alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

a img.alignleft {
	float:left;
	margin: 5px 20px 20px 0;
}

a img.alignnone {
	margin: 5px 0 20px 20px;
}

a img.alignright {
	float:right;
	margin: 5px 0 20px 20px;
}

a img.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

.wp-caption.alignnone {
	margin: 5px 0 20px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

/* Structure
----------------------------------------------- */

#top-menu-container input#s {
	float: left;
	padding: 5px 10px 5px 25px;
	background: url("images/search.png") no-repeat scroll left 50% transparent;
}

img.site-logo, h1.site-title {
	float: right;
}

#content {
	float:right;
}

#left-sidebar {
	float: left;
}

#social {
	float: left;
	margin-left: 20px;
	margin-right: auto;
}

.facebook-link, 
.twitter-link, 
.youtube-link, 
.li-link, 
.feed-link {
	float: right;
}

/* Common Elements 
------------------------------------------------------------- */
ol, 
ul {
	padding: 0 20px 10px 0;
}

address {
	text-align: left;
}

/* Menu Elements 
------------------------------------------------------------- */

#tsg2011-main-menu {
	float: left;
}

.menu {
	float: left;
}

#tsg2011-main-menu li {
	float: right;
}

#tsg2011-main-menu li ul {
	float: right;
}

#tsg2011-main-menu ul ul, 
.sub-menu, .sub-menu ul ul {
	float: right;
	right: 0;
	left: auto;
}

#tsg2011-main-menu ul ul ul {
	right: 100%;
	left: auto;
}

#tsg2011-main-menu ul ul a {
	text-align: right;
}

#tsg2011-top-menu {
	float: right;
	border-right:1px solid #888;
	border-left:1px solid #e0e0e0;
}

#tsg2011-top-menu li {
	float: right;
}

#tsg2011-top-menu li a {
	border-right: 1px solid #e0e0e0;
	border-left: 1px solid #888;
}

.widget .menu {
	float:right;
}

/* Wedget Elements 
------------------------------------------------------------- */

#left-sidebar .widget {
	float: left;
}

#left-sidebar .widget li {
	padding: 5px 17px 5px 0;
}

#footer-sidebar #first-footer-widget {
	float:right;
}

#footer-sidebar .footer-widgets {
	margin-right: 49.5px;
	float:right;
	margin-left: auto;
}

#footer-sidebar .widget li {
	padding: 3px 17px 3px 0;
}

/* Design Elements 
------------------------------------------------------------- */

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
	background: url("images/btn.png") repeat-x scroll left top #e0e0e0;
}

input[type="text"], 
textarea, input#s, 
input[type="password"] {
	border-right:1px solid #999999;
	border-left:1px solid #FFFFFF;
}

.post.sticky, 
.sticky {
	background:url("images/sticky.png") no-repeat scroll left top #F2F2F2;
}

/* ------------------------------------------------------------------------------------------ */

#slideshow .post-slide {
	margin: 70px 465px 0 0;
	text-align: right;
}

ol.bjqs-markers li {
	float:right;
}

ul.bjqs-controls li a.bjqs-prev {
	background: url("images/prev.png") no-repeat scroll right top transparent;
	right: 10px;
	left: auto;
}

ul.bjqs-controls li a.bjqs-next {
	background: url("images/next.png") no-repeat scroll right top transparent;
	left: 10px;
	right: auto;
}

/* ------------------------------------------------------------------------------------------ */

.featured-box-first {
	float:right;
}

.featured-box {
	margin-right: 49.5px;
	float:right;
	margin-left: auto;
}

blockquote,
q {
	border-right:10px solid #287cc1;
	border-left:10px solid #287cc1;
}

blockquote:before,
q:before {
	margin-left:.20em;
	margin-right: auto;
}

blockquote:after,
q:after {
	margin-right:.20em;
	margin-left: auto;
}

#container .attachment-thumbnail,
#container .attachment-category-thumb {
	float: right;
	margin: 5px 0 10px 15px;
}

h1.page-title, 
h1.arc-post-title {
	text-align: right;
}

h2.post-title, 
h2.comments, 
h3#reply-title, 
h2.post-title-color {
	text-align: right;
}

.floatright {
	float: right;
	text-align:right;
}

.floatleft {
	float: left;
	text-align:left;
}

#page-nav .alignleft {
	text-align:left;
}

#page-nav .alignright {
	text-align:right;
}

#commentsbox .commentlist {
	margin: 0 -25px 0 0;
}

#commentsbox img.avatar {
	right: 0;
	left: auto;
}

#commentsbox .commentlist li.comment {
	padding: 5px 50px 0 0;
}
